<!-- Footer Start -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
            &copy;
            <script>document.write(new Date().getFullYear());</script><a href="#"> iSTOCK</a>
            </div>
            <div class="col-md-6">
                <div class="text-md-right footer-links d-none d-sm-block">
                    <a href="dashboard">Dashboard</a>
                    <a href="account">My Account</a>
                    <a href="javascript:void(0);" onclick="showSignOutMessage();">Logout</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- end Footer -->