<!-- Footer Start -->
<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        <a href="#"> Protrack</a>
      </div>
      <div class="col-md-6">
        <div class="text-md-right footer-links d-none d-sm-block">
          <a href="dashboard">Dashboard</a>
          <a href="account">My Account</a>
          <a href="javascript:void(0);" onclick="showSignOutMessage();"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- expired modal -->
  <div id="expiredModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
    style="display: none;">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Expired Products</h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        </div>
        <div class="modal-body p-4">
          <table id="expired-products" class="table activate-select dt-responsive table-striped">
            <thead>
              <tr>
                <th>SNO</th>
                <th>Product</th>
                <th>Category</th>
                <th>Brand</th>
                <th>Batch Number</th>
                <th>Cost Price</th>
                <th>Price</th>
                <th>Qty In Stock</th>
                <th>Unit Of Measurement</th>
                <th>Product Expiry Date</th>
              </tr>
            </thead>
  
            <tbody></tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div><!-- /.modal -->
</footer>
<!-- end Footer -->
